@model IEnumerable<BanDochoi.Web.Models.Order>

@{
    ViewData["Title"] = "View";
}



<div class="container">
    <h1>Danh sách các đơn hàng</h1>
    <table class="table col-lg-12">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Note)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentMethod)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @if (item.Status == BanDochoi.Web.Models.Enums.Status.Unprogressed)
                        {
                            <p style="color:red">Chưa xử lý</p>
                        }
                        else if(item.Status == BanDochoi.Web.Models.Enums.Status.Confirmed)
                        {
                            <p style="color:red">Đã xác nhận</p>
                        }
                        else if(item.Status == BanDochoi.Web.Models.Enums.Status.Shipping)
                        {
                            <p style="color:red">Đang giao hàng</p>
                        }
                        else if(item.Status == BanDochoi.Web.Models.Enums.Status.Success)
                        {
                            <p style="color:red">Thành công</p>
                        }
                        else if(item.Status == BanDochoi.Web.Models.Enums.Status.Canceled)
                        {
                            <p style="color:red">Thất bại</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentMethod)
                    </td>
                    <td>
                        @Html.ActionLink("Chi tiết", "GetBillDetail", new {  id=item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

